use flake

PATH_add bin

# Set up a virtualenv
export PIP_PREFIX="$(expand_path .)/.venv"
export PIP_IGNORE_INSTALLED=1
PATH_add "$PIP_PREFIX/bin"
path_add PYTHONPATH "$PIP_PREFIX/$NIX_PYTHON_SITE_PACKAGES"
path_add PYTHONPATH "$(expand_path .)"

# These are annoying so stuff them all in one place
export PYTHONPYCACHEPREFIX="$(expand_path .)/.pycache"
